<!DOCTYPE html>
<html>
  <head>
    <title>DesafioFretadao</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= nav_bar brand: "Usuarios", brand_link: root_url do %>
        <%= menu_group do %>
        <%= menu_item "Criar novo Usuario", new_user_path %>
        <% end %>        
        <%= form_tag search_user_path,method: :get, class:"navbar-form navbar-right" do %>
          <div class="form-group">
            <%= text_field_tag :query, @query%>
            <%= button_to "Buscar",nil, class:"button"%>
          </div>
        <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>
